$main-green: #1CC29F;
$light-green: #5bc5a7;

$light-grey: #52595f;
// icons

$headertext-grey: #373B3F;
$lighter-grey: #999999;
$lighter2-grey: #cccccc;
$lightest-grey: #f6f6f6;

$button-orange: #ff652f;

$text-white: #ffffff


