@import "base/colors.scss";

.db-center {
  border-left: 1px solid $lighter2-grey;
  border-right: 1px solid $lighter2-grey;
  width: 560px;
  // margin-top: 20px;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  margin-left: 30px;
  font-family: Lato;
}

.db-center-header {
  // font-family: Lato;
  // font-size: 14px;
  // color: $light-grey
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #eeeeee;
  height: 45px;
  // margin-bottom: 20px;
  // border: 1px solid black
}

.db-header-wrd {
  font-family: Lato;
  font-size: 24px;
  color: #333333;
  font-weight: 600
}

.db-add-expense-btn {
  background-color: $button-orange;
  color: $text-white;
  height: 35px;
  width: 160px;
  border: 1px solid $lighter2-grey;
  border-radius: 4px;
  font-size: 15px
}

.category-icon-small {
  height: 30px
}

// expense index start 
.ei-root {
  font-family: Lato; 
  // padding: 5px;
}

.ei-header {
  display: flex;
  justify-content: space-between;
  height: 58px;
  align-items: center;
  font-family: Lato;
  font-weight: 550;
  font-size: 15px;
  // border: 1px solid grey;
  // box-shadow: 0px 20px 20px 5px lightgray
}

.ei-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
}
.ei-header-left span {
  margin-left: 6px;
  font-size: 17px
}



.ei-header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}
.ei-who-pl {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 4px;
}
.ei-who-pl2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
  margin-left: 5px;
}

.who-pl-wrd {
  font-family: Lato;
  font-size: 11px;
  color: $lighter2-grey;
}

.who-pl-amt {
  color: black;
  font-size: 15px
}
.who-pl-amt2 {
  color: $light-green;
  font-size: 15px
}
#money::before {
  content:"$";
}

.ei-middle {
  background-color: $lightest-grey;
  padding: 4px;
  border-bottom: 1px solid lightgray;
  display: flex;
  font-family: Lato;
  height: 115px;
  align-items: center;
}

.category-icon-medium {
  height: 65px
}

.ei-middle-content {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.ei-m-c-amt {
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.ei-m-c-author {
  font-size: 12px;
  color: $lighter-grey
}

.ei-m-c-btn {
  background-color: $button-orange;
  color: $text-white;
  font-size: 13px;
  width: 80;
  border: none
}

.ei-user-icon {
  height: 40px;
}

// expense index end 
.user-summary-1 {
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee; 
  border-top: 0.5px solid $lighter2-grey;
  border-bottom: 0.5px solid $lighter2-grey;
  height: 50px;
  padding: 2px;
  align-items: center;
}

.user-summary-1 p {

}

.us-1-left {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
}

.us-1-left p {
  margin-left: 8px;
}

.user-summary-1 span {
  font-size: 14px;
  color: $lighter-grey;
}

.orange {
  color: $button-orange
}
.green {
  color: $light-green;

}

.us-1-middle p {
  color: $button-orange;
  margin-right: 2px;
}


.us-1-right p {
  color: $light-green;
  margin-left: 8px
}




// user dashboard summary end

