@import "base/colors.scss";

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width:360px;
  height: 420px;
  border-radius: 5px;
  border: 2px solid $lighter2-grey;
  display:flex;
  flex-direction: column;
  // padding: 5px;
}

.addex-head {
  background-color: $light-green;
  color: $text-white;
  font-family: Lato;
  font-size: 17px;
  font-weight: 550;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 6px;
  
}

.addex-friends {
  display:flex;
  border-bottom: 1px solid lightgray;
  position: relative;
  height: 45px;
  font-family: Lato;
  margin-top: 10px;
  font-size: 14px;
  margin-left: 4px;
  padding-top: 5px
}

.category-icon-medium {
  width: 64px;
}

.ae-friend-search {
  background-color: $lightest-grey;
  border: 0.5px solid $lighter2-grey;
  margin-left: 3px;
  width: 120px;
  // position: absolute;
  // top: 50px;
  margin-right: 12px;
}

.dont-show-friends-list {
  visibility: hidden;
}

.show-friends-list {
  background-color: white;
  color: $headertext-grey;
  position: absolute;
  // top: 50px;
  z-index: 9;
  height: 50px;
  font-family: Lato;
}

.ae-friend {
  cursor: pointer;
  // border: 1px solid blue;
}

.addex-details-1 {
  // border: 1px solid blue;
  display:flex;
  flex-direction: row;
  font-family: Lato;
  font-size: 14px;
  margin-bottom: 20px;
  // justify-content: space-between;
}

.details-1-left {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  // border: 1px solid red;
  padding-left: 10px;
  
}

.details-1-left img {
  padding-left: 45px; 
  margin-top: 5px
}

.details-1-right {
  // border: 1px solid green;
  padding-left: 25px
}

.categories-selector{
  width: 90px;
  margin-left: 17px;
  border: 0.5px solid $lighter2-grey
}

.addex-desc, .addex-amt {
  margin-top:3px;
  border: 0.5px solid $lighter2-grey;
  height: 23px
}

.addex-desc-amt {
  margin-top: 20px
}

.addex-details-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  // border: 1px solid blue;
  font-family: Lato;
  font-size: 14px
}

.details-2-top {
  display: flex;
}

.paidby-selector {
  margin-left: 3px;
  margin-right: 3px;
}

.details-2-middle {
 margin-top: 3px; 
 margin-bottom: 10px
}

.addex-notes {
  border: 0.5 solid $lighter2-grey
}

.addex-buttons {
  
}