@import "base/colors.scss";

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width:360px;
  height: 420px;
  border-radius: 4px;
  border: 1px solid $lighter2-grey;
  display:flex;
  flex-direction: column;
}

.addex-head {
  background-color: $light-green;
  color: $text-white;
  font-family: Lato;
  font-size: 17;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 3px;
}

.addex-friends {
  
}

.category-icon-medium {
  width: 64px;
}