.main-section {
  // border: 1px solid grey;
  height: 600px;
  background: image-url('background_2.png');
}

.section-content {
  height: 600px;
  max-width: 1218px;
  margin: auto;
  display: flex;
  // border: 1px solid blue;
}

.left-section {
  // border: 1px solid red;
  width: 512px;
  height: 600px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 60px;
}

.right-section {
  // border: 1px solid green;
  width: 706px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.airplane {
  height: 400px;
}

.section-icons {
  max-height: 55px;
  // border: 1px solid yellow;
  margin-top: 12px;
  margin-bottom: 12px;
}

.section-icons img {
  max-height: 54px;
  margin-right: 14px;
}

.section-header {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 700;
  color: #373B3F;
  font-size: 39.5px;
  line-height: 50px;
  max-width: 390px;
}

.section-header span {
  color: #1cc29f;
}

.section-text {
  font-family: Lato;
  font-weight: 500;
  color: black;
  font-size: 18px;
  line-height: 22px;
  max-width: 340px;
}

.section-signup-button {
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  height: 61px;
  width: 205px;
  background-color: #1CC29F;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  color: white;
  border: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 2px -2px gray
}

.section-signup-button:hover {
  box-shadow: none;
  position: relative;
  top: 2px;
 }

 .section-footer {
   margin-top: 10px;
  font-family: Lato;
  font-weight: 500;
  color: #373B3F;
  font-size: 14px;
  text-decoration: none;
 }

 .section-footer-link {
   text-decoration: none;
   color: #373B3F
 }

 