
.login-signup {
   background-color: lightblue;
 }

 .signup-button {
   background-color: #1CC29F;
   padding: 8px 12px;
 }

 .logo {
  max-width: 60px;
  text-decoration: none;
	// margin-top: 10px;
}

.word-logo {
  font-family: Montserrat;
  font-weight: 800;
  text-decoration: none;
  font-size: 20px;
}